<footer>
	
  <div class="footer-wrap">
    <div class="footer-tagline">
      <p>{{ site.data.settings.footer }}</p>
    </div>
    <div class="social-media">
      <nav>
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
        {% endfor %}
      </nav>
    </div>
  </div>

	<!-- Default Statcounter code for Vitor Sudbrack Homepage
	https://vsudbrack.github.io/ -->
	<script type="text/javascript">
	var sc_project=12220607; 
	var sc_invisible=1; 
	var sc_security="18092bfd"; 
	</script>
	<script type="text/javascript"
	src="https://www.statcounter.com/counter/counter.js" async></script>
	<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
	StatCounter" href="https://statcounter.com/" target="_blank"><img
	class="statcounter" src="https://c.statcounter.com/12220607/0/18092bfd/1/"
	alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
	<!-- End of Statcounter Code -->


</footer>
