<footer>
	
  <div class="footer-wrap">
    <div class="footer-tagline">
      <p>{{ site.data.settings.footer }}</p>
    </div>
    <div class="social-media">
      <nav>
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" target="_blank"><i class="{{ item.icon }}" aria-hidden="true"></i></a>
        {% endfor %}
      </nav>
    </div>
	
  </div>
<p style="text-align:center;font-size:10px;margin-bottom:2px">Contents © 2020 <a href="mailto:vitorsudbrack@gmail.com">Vitor Sudbrack</a>.</p>
<p style="text-align:center;font-size:10px"><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License BY-NC-SA" style="border-width:0; margin-bottom:2px;" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"></a></p>
</footer>
