{{ color | default: black }}

<div class="image-container">
{% if include.url %}<a href="{{ include.url }}" target="_blank">{% endif %}
    <img src="{{ site.github.url }}/assets/img/{{ include.image }}" alt="Avatar" class="image">
    <div class="overlay">
      <div class="text" style="color:{{include.color}}">
        {% if include.text %}{{ include.text }}{% endif %}
	{% if include.url %} <i class="fa fa-arrow-right" aria-hidden="true" style="color:{{include.color}}"></i>{% endif %}
      </div>
    </div>

{% if include.url %}</a>{% endif %}

</div>

