<p class="title">INTERESTS</p>

<div style="margin: auto;">
    <p class="description" style="text-align: center;">
    {% for interest in site.data.profile.interests %}
    <span style="white-space: nowrap; display: inline-block;">
        {{ interest }}
        {% unless forloop.last %}
        <span style="
            color:#4d7b76;
            font-size:30px;
            vertical-align: middle;">
            &nbsp;·&nbsp;
        </span>
        {% endunless %}
    </span>
    {% endfor %}
    </p>
</div>

