.page-content
  width: 550px
  margin: 30px
  h1
    line-height: 1.2
    color: black
    font:
      size: 30px
      weight: 700
  p
    line-height: 1.5
    font:
      size: 16px

@media (max-width: 768px)
  .page-content
    width: 100%
    margin: 5px

/* Video */

.videoWrapper
  position: relative
  margin: 10px
  padding-bottom: 56.25% /* 16:9 */
  height: 0

.videoWrapper iframe 
  position: absolute
  top: 0
  left: 5%
  width: 90%
  height: 90%

/* Button */

.mybutton
  position: relative
  width: 40%
  left: 30%
  @media screen and (max-width: 667px) 
    width: 80%
    left: 10%
  padding: 10px 10px 10px 10px
  background-color: #e5eaee 
  margin: 10px
  border-radius: 9px 
  line-height: 1.5
  font-size: 20px 
  font-weight: bold
  color: #c99065
  border: 1px solid #ccc
  cursor: pointer

/* Details and Summary */

summary 
  cursor: pointer
  background-color: #e5eaee 
  margin: 5px
  font-size: 20px 
  font-weight: bold
  color: #c99065
  width: 75%

details
  position: relative
  width: 75%
  background-color: #e5eaee 
  padding: 5px 30px 5px 30px
  margin: 15px
  margin-left: auto
  margin-right: auto
  border-radius: 9px
  border: 1px solid #ccc
  text-align: justify
  color: #424242
  @media screen and (max-width: 667px) 
    width: 85%
    margin: auto

