#recentpubs {
  position: relative;
  overflow: hidden;
  .recentpubs-wrap {
    @extend %page-padding;
    padding-top: 35px !important;
    @media (min-width: 600px) { 
      max-width: 75%;
    }
    p.title {
      color: $theme-dark;
      font-size: 25px;
      font-weight: 600;
    }
  }
  .bibliography {
    margin-top: 1rem;
  }
}