#publications {
    @extend %page-padding;
    .bg{
        content: "";
        position: absolute;
        z-index: -1;
        width: 70%;
        top: 62px;
        left: 15%;
        height: 95px;
        background-color: $theme-dark;
    }
    h1.title{
        color:#fff;
        position: absolute;
        margin-bottom: 60px;
        top: 92px;
    }
}