---
layout: page
---
{% assign profile = site.data.profile %}
{% assign urlstart = profile.image | split: '/' %}
{% if urlstart == 'https:' %}
  {% assign imgurl = profile.image %}
{% else %}
  {% assign imgurl = profile.image | relative_url %}
{% endif %}

</div><!-- This Tag means End .container -->

<div id="portfolio">
  <section id="about-me">
    <div class="row">
      <div class="img-wrap col-12 col-md-4">
        <div class="img" style="border: solid white 4px">
          <img src="{{ imgurl }}" >
        </div>
      </div>
      <div class="text-wrap col-12 col-md-8">
        <h2 class="username">{{ profile.username }}</h2>
        <div class="description">{{ profile.description | markdownify }}</div>

        <ul id="icons">
          {% include social.html %}
        </ul>

        <div style="margin-top: 10px;">
          <a href="https://lab-mullon.github.io/" target="_blank"><img src="/assets/img/LOGO_TEE_white.svg" width="20%" style="margin-bottom: 5px;"></a>
        </div>
        
      </div>
    </div>
    <div class="bg"></div>
  </section>

  <section id="career" class="row">
    <article class="exper col-12 col-md-6">
      {% include experience.html %}
      {% include awards.html %}
    </article>
    <article class="skills col-12 col-md-6">
      {% include interests.html %}
      {% include skills.html %}
    </article>
  </section>

  {% include projects.html %}


  {% include latestpublications.html %}


</div>